@model IEnumerable<GR1.Models.StudentModel>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}

<h2 class="mt-4 mb-4">Danh sách sinh viên</h2>

<form method="get" asp-action="Index" class="mb-3 d-flex">
    <input type="text" name="StudentCodeorFullName" class="form-control me-2" placeholder="Tìm theo tên hoặc mã sinh viên..."  />
    <button type="submit" class="btn btn-outline-primary">Tìm</button>
</form>

<a class="btn btn-primary mb-3" href="/Student/Create">➕ Thêm sinh viên</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Mã SV</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Thao tác</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.StudentCode</td>
                <td>@s.FullName</td>
                <td>
                    <a href="@Url.Action("Edit", "Student", new { id = s.StudentCode })" class="btn btn-warning btn-sm">Sửa</a>
                    <a href="@Url.Action("Delete", "Student", new { id = s.StudentCode })" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
